In [3]:
x =20
if x<10: ## condition
 print(" x ha vo chota ha 10 sa ")
elif x ==20:
 print(" x ki value ha vo 20 hai")

else:
  print(" x ha vo bda ha 10 sa")

 x ki value ha vo 20 hai

## conditional statement 
* if ,else , elfe

In [2]:
### conditional statement

In [1]:
a = 10

a

10

In [ ]:
#4g >> uf@100824
#5g >> uf@100823

# task 2 
# find the largest number 
# check even or odd 
# leap year checker
# grading system 
# traffic light system
 #90 and above: Grade A
# 75 to 89: Grade B

# 60 to 74: Grade C

# # Below 60: Grade D
# Find Largest of Three Numbers
# Traffic Light System
# Write a program that takes the color of a traffic light as input (red, yellow, green) and prints the corresponding action:

# Red → Stop

# Yellow → Wait

# Green → Go

In [ ]:
### find the largest number 
a = 1
b = 2
c = 3
if (a>=b and a>=c):
    print("a is the largest number")

elif(b>=a and b>=c):
    print("b is the largest number")

else:
    print("c is the largest number")

c is the largest number

In [ ]:
###  check even or odd 
x = 7
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [11]:
### leap year check 
y = 2000

# Check if the year is divisible by 4
if y % 4 == 0:
    
    # Check if the year is divisible by 100
    if y % 100 == 0:
        
        # Check if the year is divisible by 400
        if y % 400 == 0:
            
            # Divisible by 400, it is a leap year
            print("Leap year") 
        else:
            print("Not a leap year")  
    else:
        print("Leap year") 
else:
    print("Not a leap year")

Leap year

In [12]:
### grading system
print("Enter Marks Obtained in 3 Subjects: ")
total1 = 44
total2 = 67
total3 = 76
tot = total1 + total2 + total3
avg = tot / 3
if avg >= 91 and avg <= 100:
    print("Your Grade is A")
elif avg >= 81 and avg < 91:
    print("Your Grade is B")
elif avg >= 71 and avg < 81:
    print("Your Grade is c")
elif avg >= 61 and avg < 71:
    print("Your Grade is D")
elif avg >= 51 and avg < 61:
    print("Your Grade is E")
else:
    print("Invalid Input!")

Enter Marks Obtained in 3 Subjects:
Your Grade is D

In [ ]:
### trafic light signal
def traffic_light_simulator():
    color = input("Enter the current traffic light color (red, yellow, or green): ").lower()

    if color == "red":
        print("STOP! Do not move .")
    elif color == "yellow":
        print("Prepare to stop or clear the intersection.")
    elif color == "green":
        print("GO! You may go ")
    else:
        print("  invalid color ,Please enter 'red', 'yellow', or 'green'.")

# Call the function to run the simulation
traffic_light_simulator()

  invalid color ,Please enter 'red', 'yellow', or 'green'.

In [ ]:
# global varible 
# local variable 
# polymorphism
# inheritence 
# encapsulation
# abstraction

In [ ]:
class class_name:
    pass  
# class_name >>> class name 
# pass >>> placeholder
# class is a keyword

In [ ]:
class Student:
  
  name= "ritik" ### class variable 
  age = 20  ### class variable
  print(f"my name is {name} and my age is {age}")
obj_st=Student()  ### obj_st is object

my name is ritik and my age is 20

In [7]:
obj_st.name

'ritik'

In [8]:
obj_st.age

20

In [11]:
class student:
    name = "ritik"
    age = 28

    def info(self):
        print("this is my first mrthod")
        print(" hoe are you all ")
dt_obj =Student()

NameError: name 'Student' is not defined

In [ ]:
dt_obj.info()|

SyntaxError: invalid syntax (2483515472.py, line 1)

In [ ]:
class student:
    name = "ritik" ### class vaariable
    age = 28     ### class vaariable

    def info(self):
        print(f" my name is {self.name} and my age is {self.age} ")
        ###print(age)  ### info is method and self is a parameter ya object keyword

dt_obj =Student()

In [ ]:
dt_obj.info()

#### inheritence

## types of inhearitence 
* single inheritence
* multiple inheritence
* multilevel inheritence
* hierarchical inheritence
* hybrid inheritence

In [ ]:
# class collage:
#     pass 

# class student:
#     pass

In [14]:
### single inheritence 
class collage:
    pass
class student(collage):
    pass

In [16]:
class collage:
    collage_name =" Arya collage "
    collage_address = "khuukas"
    
    def info(self):
        print(self.collage_name)
        print(self.collage_address)
class student(collage):
    student_name = "ritik"
    student_id = "1233"
st_obj =student()
print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

 Arya collage
khuukas
ritik
1233

In [17]:
st_obj.info()

 Arya collage
khuukas

In [18]:
### multiple inheritence 
class father:
    father_name="ritik"
    father_id ="1234"
class uncle:
    uncle_name ="Rohit kumar"
class child(father,uncle):
    pass 

obj_child =child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

ritik
1234
Rohit kumar

In [19]:
### mutlilevel inheritence 
class Grandfather:
   Grandfather_name="ritik"
   Grandfather_id ="1234"
class father(Grandfather):
   father_Name ="Rohit kumar"
   father_id = "1234fgfg"

class child(father):
      pass


obj_child=child()
print(obj_child.Grandfather_name)
print(obj_child.Grandfather_id)
print(obj_child.father_Name)
print(obj_child.father_id)

ritik
1234
Rohit kumar
1234fgfg

In [20]:
### polymorphism
print("hello")

hello

In [21]:
lst = [1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [22]:
type(lst)

list