### oops concept in python

In [2]:
# global variable
# local variable
# polymorphism
# inhertance
# encapsulation
# abstraction

In [ ]:
class class_name:
    pass 
#class _name>>>class name 
#pass >>placeholder
#class is a keyboard

In [4]:
class Student:
    name ="ritik"#class variable 
    age = 20  #class variable 
    print (f"my name is {name} and my age is {20}")
obj_st=Student()#obj_st is object

my name is ritik and my age is 20

In [5]:
obj_st.name

'ritik'

In [6]:
obj_st.age

20

In [11]:
class Student:
    name = "ritik" 
    age = 20 #class variable 

    def info(self):
        print("this is my method")
        print ("how are you all")

dt_obj= Student()

In [12]:
dt_obj.info()

this is my method
how are you all

In [14]:
class Student:
    name = "ritik" 
    age = 20 #class variable 

    def info(self):
        print(f" my is {self.name}and my age is {self.age}")
        # print ("how are you all")


        dt_obj =Student()

In [15]:
dt_obj.info()

this is my method
how are you all

### inheritance

### type of inheritance 
* single inheritance
 * multiple inheritance
* multilevel inheritance
 * hierarchical inheritance
* hybrid inheritance

In [ ]:
# class collage :
#     pass

# class Student:
#     pass

In [28]:
###single inheritance
class Collage:
     pass
class Student(Collage):
  pass

In [18]:
### single inheritence
class college:
    college_name = "Raffles university"
    college_address = "Neemrana"

class student(college):
    student_name = "Bhupesh"
    student_id = "1234"
st_obj = student()
print(st_obj.college_name)
print(st_obj.college_address)
print(st_obj.student_name)
print(st_obj.student_id)

Raffles university
Neemrana
Bhupesh
1234

In [19]:
class Father:
    father_name = "Ritik"
    father_id = "1234"
class Uncle:
    uncle_name = "Rohit kumar"
class child(Father,Uncle):
    pass

obj_child = child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

Ritik
1234
Rohit kumar

In [20]:
#### multiple inheritence 
class Grandfather:
    grandfather_name = "Ritik"
    grandfather_id = "1234"

class Father(Grandfather):
    father_name = "Rohit kumar"
    father_id = "1234fjkd"

class child(Father):
    pass
obj_child =child()

print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

Ritik
1234
Rohit kumar
1234fjkd

In [21]:
###polymorphism
print("hello")

hello

In [22]:
lst =[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [23]:
type(lst)

list

In [1]:
type("hello")

str

In [2]:
class student:
    pass

In [3]:
class student:
    pass

In [16]:
### Encapsulation
# private 
# public
# proctected
class student:
    __name ="ritik"# private variable
    age =20 # public variable
    _id ="1234" # proctected variable
st_obj = student()

In [6]:
st_obj.age

20

In [17]:
st_obj._id

'1234'

In [ ]:
st_obj._student_name

In [ ]:
# bank  class

# account no.  private
# name 
# address 
# phone number
# # method 
# total balance

# class
#  method
#  inheritance


# task 1 >>.>>>> super function
# task 2 >>>>> bmi calculator

In [ ]:
class bank:
    __account_number ="6781123409" #private variable
    name = "harsh"
    address = "jaipur"
    phone_number ="6748391023"
    method = "online"
    total_balnace ="78960"
    
st_obj = bank()

In [21]:
st_obj.address

'jaipur'

In [22]:
st_obj.method

'online'

In [25]:
st_obj.total_balnace

'78960'

In [26]:
st_obj.name

'harsh'

In [ ]:
st_obj.__account_number

In [30]:
### constructor
# init method

# __init__



class student:
    def __init__(self):
        pass

In [40]:
# calling
class student:
    def __init__(self):
        pass
student()

In [ ]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age ### intance variable

obj_st =student(name="ritik", age=22)

obj_st.name

'ritik'

In [37]:
obj_st.age

22

In [43]:
class Student:
    def __init__(self,name,age,address):
        self.name = name
        self.age = age #intance variable
        self.address = address

def display(self):
    print(f"my name is {ritik}and my age is {22} and my address is {kukas}")


obj_st= Student(name="ritik",age=22,address="kukas")

In [42]:
obj_st.display

AttributeError: 'Student' object has no attribute 'display'

In [47]:
class Bank:
    def __init__(self,name,age,amount,account_number,phone_number,address):
        self.name = name
        self.age =age
        self.amount =amount

        self.__account_number =account_number
        self.phone_number =phone_number
        self.address =address
    def deposite(self,amount):
        self.amount =self.amount+amount
        return self.amount
    
    def withdraw(self,amount):
        self.amount =self.amount-amount
        return "sucess withdraw thanks for using our service "

    def total_balance(self):
        return self.amount
    def info(self):
        print("your name",self.name)
bn_obj =Bank(name="ritik",amount=1000,age=22,account_number="67327",phone_number="2357554",address="neemrana")
bn_obj.deposite(300)

1300

In [48]:
bn_obj.amount

1300

In [ ]:
bn_obj.__account_number

In [1]:
class Person:
    def __init__(self,name,age):
    
        self.name = name
        self.age = age

    def show_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")


class Employee(Person):
    def __init__(self, name, age, emp_id,salary):
        super().__init__(name, age)
        super().init(name, age)      
        self.emp_id = emp_id
        self.salary = salary

    def show_info(self):
        super().show_info()              
        print(f"Employee ID: {self.emp_id}")
        print(f"Salary: ₹{self.salary}")

e1 = Employee("Harash", 22, "101", 5500)

e1.show_info()

AttributeError: 'super' object has no attribute 'init'

In [4]:
def calculate_bmi(weight, height):
    """
    Calculate BMI based on weight (in kg) and height (in meters)
    """
    bmi = weight / (height ** 2)
    return bmi

def get_bmi_category(bmi):
    """
    Determine BMI category based on BMI value
    """
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Overweight"
    else:
        return "Obese"

def main():
    weight = float(input("Enter your weight in kg: "))
    height = float(input("Enter your height in meters: "))

    bmi = calculate_bmi(weight, height)
    category = get_bmi_category(bmi)

    print(f"Your BMI is: {bmi:.2f}")
    print(f"Your BMI category is: {category}")

if __name__ == "_main_":
     main()

In [ ]:
class Person:
    def __init__(self,name,age):
    
        self.name = name
        self.age = age

    def show_info(self):
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")


class Employee(Person):
    def __init__(self, name, age, emp_id,salary):
        super().__init__(name, age)    
        self.emp_id = emp_id
        self.salary = salary

    def show_info(self):
        super().show_info()              
        print(f"Employee ID: {self.emp_id}")
        print(f"Salary: ₹{self.salary}")

e1 = Employee("priyanshu", 22, "267", 00)
e1.show_info()

Name: priyanshu
Age: 22
Employee ID: 267
Salary: ₹3500

In [1]:
class BMICalculator:
    def __init__(self, weight, height):
        self.weight = weight     
        self.height = height      

    def calculate_bmi(self):
        bmi = self.weight / (self.height ** 2)
        return bmi

    def interpret_bmi(self):
        bmi = self.calculate_bmi()
        print(f"Your BMI is: {bmi:.2f}")

        if bmi < 18.5:
            print("You are Underweight.")
        elif bmi < 25:
            print("You have Normal weight.")
        elif bmi < 30:
            print("You are Overweight.")
        else:
            print("You are Obese.")



weight = float(input("Enter your weight in kg: "))
height = float(input("Enter your height in meters: "))


b1 = BMICalculator(weight, height)


b1.interpret_bmi()

Your BMI is: 19.93
You have Normal weight.